* {
    margin: 0;
    transition: 0.5s;
    font-family: sans-serif;
}

.bg-container {
    background-color: cadetblue;
    min-height: 100vh;
    padding-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    background-color: rgb(97, 167, 169);
    height: 90px;
}



.navbar-item {
    display: flex;
    list-style-type: none;
    background-color: rgb(97, 167, 169);
}

.navbar-item li {
    margin-right: 17px;
    border: 0;
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.navbar-item li a {
    background-color: rgb(97, 167, 169);
    color: #333333;
    font-size: 20px;
    text-decoration: none;


}

.logo-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;

}

.navbar-item li:hover {
    transform: translateY(-5px);
}


.navbar-item li:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.navbar-item li:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.navbar-item li:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}



.name-content {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.inner-name-content {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name-content span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.my-name {
    font-size: 50px;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.name-content h1 span:hover {
    transform: translateY(-10px);
}

.name-content span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.name-content span:nth-child(3) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.name-content span:nth-child(5) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.name-content span:nth-child(6) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.gif {
    height: 350px;
    width: 450px;
    border-radius: 30%;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    background-color: rgb(97, 167, 169);
    border: 1px solid rgb(142, 201, 203);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.about-section div{
    width: 50%;
}

.about-section h1 {
    font-size: 40px;
}

.about-section p {
    color: #464646;
    margin-top: 10px;
    font-size: 18px;
    line-height: 20px;
}

.skills-sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.skills-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-heading{
    font-family: cursive;
    font-size: 23px !important;
    color: #333333;
}

.skill-card{
    background-color: cadetblue;
    padding: 20px;
    width: 90px !important;
    border-radius: 9px;
    text-align: center;
    margin-left: 10px;
    margin-top: 16px;
}

.skill-card i{
    font-size: 40px;
}

.skill-card h1{
    font-size: 13px;
    margin-top: 6px;
}

.projects-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.project-heading{
    text-align: center;
}

.project-card{
    padding: 30px;
    border: 1px solid rgb(142, 201, 203);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(97, 167, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-card h1{
    font-size: 27px;
}

.project-card p{
    color: #464646;
    font-size: 18px;
    margin: 3px;
}

.link{
    font-size: 18px;
    color:navy;
    text-decoration: none;
}

.icon{
    font-size: 15px;
}

.circle-icon{
    font-size: 10px;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  

.footer{
    text-align: center;
    background-color: rgb(97, 167, 169);
    padding: 20px;
    font-size: 20px;
}

.footer-icon{
    padding: 10px;
    font-size: 40px;
    margin-top: 10px;
}


@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}